---
title: Util.printTestResults - 
---

[bwdm](../index.html) / [Util](index.html) / [printTestResults](./print-test-results.html)

# printTestResults

`fun printTestResults(_expected: `[`String`](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-string/index.html)`, _actual: `[`String`](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-string/index.html)`): `[`Unit`](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-unit/index.html)