---
title: Util.printTestResults - 
layout: api
---

<div class='api-docs-breadcrumbs'><a href="../index.html">bwdm</a> / <a href="index.html">Util</a> / <a href="./print-test-results.html">printTestResults</a></div>

# printTestResults

<div class="signature"><code><span class="keyword">fun </span><span class="identifier">printTestResults</span><span class="symbol">(</span><br/>&nbsp;&nbsp;&nbsp;&nbsp;<span class="parameterName" id="bwdm.Util.Companion$printTestResults(kotlin.String, kotlin.String)/_expected">_expected</span><span class="symbol">:</span>&nbsp;<a href="https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-string/index.html"><span class="identifier">String</span></a><span class="symbol">, </span><br/>&nbsp;&nbsp;&nbsp;&nbsp;<span class="parameterName" id="bwdm.Util.Companion$printTestResults(kotlin.String, kotlin.String)/_actual">_actual</span><span class="symbol">:</span>&nbsp;<a href="https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-string/index.html"><span class="identifier">String</span></a><br/><span class="symbol">)</span><span class="symbol">: </span><a href="https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-unit/index.html"><span class="identifier">Unit</span></a></code></div>
